body {
  
    background-image: linear-gradient( 
      115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7));
        
    color: white;
    font-family: tahoma;
  }
  div {
    
     background: var(--color-darkblue);
     background-image: linear-gradient( 
      115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)), url(https://scontent.flos2-2.fna.fbcdn.net/v/t1.18169-9/10388560_1573250656224025_2105291070376155039_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=m8w53rl_cRcAX9gJqHO&_nc_ht=scontent.flos2-2.fna&oh=00_AfB3m0W7-v09EWev67FK5CBvkSRRSactJ3ENQy8C-Cxvsw&oe=64FC52F4);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
      color: #f5f6f7;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      max-width: 750px;
      min-width: 300px;
      padding-top: 10px;
      margin-top: 10px;
      padding-right:  20px
  }
  h1, #description {
    margin: 1em auto;
      text-align: center;
  }
  p{
    margin-bottom: 0.2em;
    font-size: 1.rem;
  }
  form {
    max-width: 1000vh;
    margin: 1em auto;
    padding-bottom: 40px
  
  }
  fieldset {
    border: none;
  }
  input, select, textarea {
    width: 100%;
    padding-bottom: 10px;
    padding-right: 0px;
  }
  label {
    display: block;
    margin: 0.5rem 0px;
    font-size: 1rem;
  }
  .inline {
    width: unset;
    vertical-align: middle;
     margin: 0 0.5em 0 0;
  }
   
    input[type="submit"] {
      display: block;
      width: 300px;
      margin: 2em auto;;
      color: white;
      font-size: 19px;
      border-style: solid;
    background-image: linear-gradient( 
      115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7));
        
    }
    .textarea {
    min-height: 100px;
    width: 100%;
    resize: vertical;
    }